<div data-ng-controller="LoginCtrl">
<div ng-show="isUserLogged()">
	<div>
		<p class="pull-left">
			<b>Bienvenido!</b>          
		</p>
		<br />
		<div class="btn-group">
			<a class="dropdown-toggle pull-right violeta" data-toggle="dropdown">
				<span style="text-transform:capitalize;" ng-bind="loggedUserName()"></span> 
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#/usuario-datos">Mi cuenta</a></li>
				<li><a href="#/usuario-config">Cambiar contraseña</a></li>    
				<li class="divider"></li>
				<li><a ng-click="doLogout()">Cerrar sesión</a></li>
			</ul>
		</div>
	</div>
</div>
<div ng-hide="isUserLogged()">
	<div>
	<button type="button" class="btn btn-primary navbar-btn" ng-click="loginForm()">Ingresar</button>
	<button type="button" class="btn btn-primary navbar-btn" ng-click="signUpForm()">Registrate</button>
	</div>
</div>
</div>	