<div class="container" data-ng-controller="LoginCtrl">    
  <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
          <div class="panel-title">Registrate</div>
          <div style="float:right; font-size: 85%; position: relative; top:-10px">
            <a id="signinlink" href="#loginForm">Ingresar</a>
          </div>
      </div>  
      <div class="panel-body" >
        <form id="signupform" class="form-horizontal" role="form">
                  
          <div id="signupalert" style="display:none" class="alert alert-danger">
            <p>Error:</p>
            <span></span>
          </div>
          <div class="form-group">
            <label for="email" class="col-md-3 control-label">Email</label>
            <div class="col-md-9">
              <input type="text" class="form-control" ng-model="signUpFormData.email" placeholder="Dirección de correo eletrónico">
            </div>
          </div>
          <div class="form-group">
            <label for="firstname" class="col-md-3 control-label">Nombre</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="firstname" placeholder="Nombre">
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-md-3 control-label">Apellido</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="lastname" placeholder="Apellido">
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-md-3 control-label">Password</label>
            <div class="col-md-9">
              <input type="password" class="form-control" ng-model="signUpFormData.password" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <!-- Button -->                                        
            <div class="col-md-offset-3 col-md-9">
              <button id="btn-signup" type="button" class="btn btn-info" ng-click="signUp()">
              <i class="glyphicon glyphicon-hand-right"></i>&nbsp Registrate</button>
              <span style="margin-left:8px;">ó</span>  
            </div>
          </div>
          <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">  
            <div class="col-md-offset-3 col-md-9">
                <button id="btn-fbsignup" type="button" class="btn btn-primary">
                <i class="icon-facebook"></i>   Registrate con Facebook</button>
            </div>                                                   
          </div>                
        </form>
      </div>
    </div>
  </div> 
</div>
<!--
<div class="container slim">
  <div class="modal-header">
    <h4 class="title">Registro</h4>
  </div>
  <div class="modal-body">
    <h5>{{loginErrorMessage}}</h5>
    <p>Ingrese sus datos para <strong>crear su usuario en Cuidando Mi Auto.</strong></p>
    <form>      
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" ng-model="signUpFormData.username" placeholder="Ej: Kimi2014, ElCarpo, SuperChivo, ElSchumiDeParquePatricios, etc">
      </div>
      <div class="form-group">
        <label>Correo eletronico</label>
        <input type="text" class="form-control" ng-model="signUpFormData.email" placeholder="Ingrese su email">
      </div>      
      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" class="form-control" ng-model="signUpFormData.password" placeholder="Ingrese su contraseña">
      </div> 
      <div class="form-group">
        <label>Confirme su Contraseña</label>
        <input type="password" class="form-control" ng-model="signUpFormData.password_bis" ng-enter="signUp()">
      </div>                  
    </form>
  </div>
  <div class="modal-footer">          
      <a class="btn btn-default btn-primary" ng-click="signUp()">Iniciar</a>          
      <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>          
  </div>
</div>
-->